{% extends 'convoapp/base.html' %}

{% block content %}
<h3>Существующие чаты (бот: {{bot.name}}) (этап: {{stage}})</h3>
<div class="chat-view clearfix">
    <div class="select-list">
        {% for user in user_list %}
            <div class="button-wrapper clearfix">
                <div class="select-entry
                    {% if user.number == selected_user %}highlight{%endif%}
                    {% if user.is_banned %}banned_user{%endif%}
                ">
                    {% if user.username %}
                    <a href="https://t.me/{{user.username}}" class="chat-name">@{{ user.username }}</a>
                    {% else %}
                    <a href="#" class="chat-name">{{ user.fullname }}</a>
                    {% endif %}
                    <div class="user-time">{{ user.time|date:"d.m.Y" }}, {{ user.time|time:"H:i" }}</div>
                </div>
                <a href="/log_viewer/logs/{{url_prefix}}{{user.number}}/" class="select-link">
                    <div class="arrow"></div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="select-list">
        {% for chat in chat_list %}
            <div class="button-wrapper">
                <div class="select-entry clearfix
                    {% if chat.number == selected_dialog %} highlight {%endif%}
                    {% if chat.is_complete %} request_complete {% endif %}
                    {% if chat.is_discarded %} request_discarded {% endif %}"
                >
                    <div class="chat-name">{{ chat.number }}
                        {% if chat.registered_pk %}
                        - <a href="https://t.me/AutoServiceUA/{{chat.message_id}}" target="_blank" rel="noopener noreferrer">#{{chat.registered_pk}}</a>
                        {% endif %}
                    </div>
                    <div class="chat-last-message">{{ chat.tag }}</div>
                    <div class="chat-time">{{ chat.time|date:"d.m.Y" }}, {{ chat.time|time:"H:i" }}</div>
                </div>
                <a href="/log_viewer/logs/{{url_prefix}}{{selected_user}}/{{chat.number}}" class="select-link">
                    <div class="arrow"></div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="chat-content">
        {% for message in message_list %}
        <div class="chat-message {% if message.direction %} msg-in {% else %} msg-out {% endif %}">
            <div class="chat-message-content">{{message.content | safe}}</div>
            <div class="chat-message-time">{{ message.time|date:"d.m.Y" }}, {{ message.time|time:"H:i" }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}